* {
  box-sizing: border-box;
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #f0f0f0;
}

#wrap {
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#wrap > .row {
  display: flex;
  background-color: #fff;
}

#wrap > .row:first-of-type > .cell {
  border: none;
}

#wrap > .row:last-of-type > .cell {
  border: none;
}

#wrap > .row:not(:last-of-type) > .cell {
  border-bottom: 1px solid #e3e3e3;
}

#wrap > .row > .cell:first-of-type {
  border-top: none;
  border-bottom: none;
}

#wrap > .row > .cell:last-of-type {
  border: none;
}

#wrap > .row > .cell {
  width: 6rem;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s ease-in-out;
  position: relative;
  border-right: 1px solid #e3e3e3;
}

#wrap > .row > .cell > .cell_deco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  display: flex;
  flex-wrap: wrap;
}

#wrap > .row > .cell > .cell_deco > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

#wrap > .row > .cell > .cell_deco > div > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#wrap > .row > .target > .target_deco {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

#wrap > .row > .target > .target_deco:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
